* {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-direction: column;
  background-image: url(./images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

#body-section {
  display: flex;
  gap: 20px;
  position: relative;
  width: 90%;
}

.logo-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px 30px 30px;
}

.mockup-style {
  width: 200px;
  height: 120px;
}

.img-meaning {
  width: 200px;
  height: 120px;
}

.working-style {
  display: flex;
  flex-direction: column;
  border: solid 2px #ddd9d9eb;
  border-radius: 5px;
  padding: 10px;
}

.footer-section {
  display: flex;
  flex-direction: row;
}

.footer-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

p {
  font-size: 18px;
}

.text-img {
  display: flex;
  gap: 20px;
}

.team-work {
  display: flex;
  gap: 15px;
}

.logo {
  width: 70px;
  height: 15px;
}

.img-contact {
  width: 25px;
  height: 12px;
}

.community {
  width: 90%;
  height: 180px;
  background-color: bisque;
  position: relative;
  top: 130px;
  left: 70px;
  border-radius: 7px;
  padding-top: 110px;
}

.position-btn {
  width: 250px;
  margin-top: 10px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 25px;
  height: 50px;
}

a {
  text-decoration: none;
}
.footer-section {
  background-color: hsl(192, 100%, 9%);
  width: 100%;
  justify-content: space-around;
  padding: 15px 20px 20px 30px;
  color: hsl(208, 11%, 55%);
  font-weight: bold;
}

.footer {
  padding-top: 100px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer-logo {
  color: white;
  width: 120px;
  height: 50px;
}
